html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 202, 202);
  font-size: 30px;
} 

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.heading {
  color: rgb(88, 94, 138);
  font-size: 80px;
  width: 400px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.heading.logo {
  margin: 0;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  width: 120px;
  height: auto;
}

p {
  width: 700px;
  height: auto;
  text-align: left;
  margin: auto;
  padding: 10px;
}

h2 {
  color: rgb(125, 132, 180);
  margin: auto;
  padding: 10px;
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 40px;
}

.recipes {
  padding: 15px;
  width: 500px;
  height: auto;
  font-size: 40px;
  text-align: left;
  border: 10px ridge rgb(120, 138, 163);
  background-color: rgb(249, 234, 229);
  list-style-position: inside;
  margin: auto;
  list-style-type: circle;
}

li {
  padding: 10px;
}

.food-pic {
  display: block;
  margin: 50px auto;
  width: 500px;
  height: auto;
  border: 10px solid black;
}
